{% extends 'base.html' %}

{% block style_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
{%endblock%}

{% block main %}
<div class="background-image">
    <div class="background-overlay"></div> <!-- Додали оверлей для затемнення -->
        <div class="container-sign">
           <h2 style="margin-bottom:20px" >Lesson Creation</h2>
           <div class="registration-form">
               {% if error %}
                   <p>{{ error }}</p>
               {% endif %}
               <form class="new_lesson" id="new_lesson" action="/add_lesson" accept-charset="UTF-8" method="post" enctype=multipart/form-data>
                  <input required type="text"  name="less_name" id="less_name" placeholder="Назва заняття" class="input-field">
                  <input required type="number" name="stud_max" id="stud_max" placeholder="Кілька студентів - група, один - індивідуальне заняття" class="input-field" value="">
                  <select required name="level" id="level" class="input-field">
                      <option value="">Рівень навчання англ. мови</option>
                      <option value="A0">A0</option>
                      <option value="A1">A1</option>
                      <option value="A1+">A1+</option>
                      <option value="A2">A2</option>
                      <option value="A2+">A2+</option>
                      <option value="B1">B1</option>
                      <option value="B1+">B1+</option>
                      <option value="B2">B2</option>
                      <option value="C1">C1</option>
                      <option value="C2">C2</option>
                  </select>
                  <select required name="schedule" id="schedule" class="input-field">
                      <option value="">Розклад заняття</option>
                      <option value="8.30">8.30</option>
                      <option value="10.10">10.10</option>
                      <option value="12.00">12.00</option>
                      <option value="13.40">13.40</option>
                      <option value="15.20">15.20</option>
                      <option value="17.00">17.00</option>
                  </select><br>
                   <label for="days_of_week" id="days_of_week">Days of Week:</label><br><br>
                    Monday<input type="checkbox" name="days_of_week" value="Monday">
                    Tuesday<input type="checkbox" name="days_of_week" value="Tuesday">
                    Wednesday<input type="checkbox" name="days_of_week" value="Wednesday"><br><br>
                    Thursday<input type="checkbox" name="days_of_week" value="Thursday">
                    Friday<input type="checkbox" name="days_of_week" value="Friday">
                    Saturday<input type="checkbox" name="days_of_week" value="Saturday">
                    Sunday<input type="checkbox" name="days_of_week" value="Sunday">
                  <input style="margin-top:20px" type="submit" name="commit" value="Register" class="btn" data-disable-with="Sign up">
                </form>
          </div>
        </div>
    </div>
</div>
{%endblock%}

