<!-- шаблон -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style_css %}{%endblock%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>BIRD SCHOOL</title>
</head>
<body>
    <script src="static/js/main.js"></script>

    <header>
        <div class="top-line-content">
            <div class="header-left">
                <a href="/">
                    <h1 style="font-family: 'VogueFont', Arial, sans-serif;">B I R D     S C H O O L</h1>
                </a>
            </div>
            <div class="header-right">
                {% if is_authenticated %}
                    {% if session['role'] == 'teacher' %}
                        <a href="/profiles/teacher">Profile </a>
                    {% elif session['role'] == 'student'%}
                        <a href="/profiles/student">Profile </a>
                    {% endif %}
                    <a href="/sign_out">Log out </a>
                {% else %}
                    <div class="dropdown">
                        <a href="#" class="dropbtn">Sign up</a>
                        <div class="dropdown-content">
                            <a href="/teacher_code">As a teacher </a>
                            <a href="/register_student">As a student </a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="/log_in" class="dropbtn">Log in</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="line-content">
                <a href="/joins">Why us?</a>
                <a href="/teachers">Our teachers</a>
                <a href="/lessons">Our courses</a>
                <a href="/articles">Useful articles</a>
                <a href="/questions">Your questions</a>
        </div>
    </header>

    {% block main %}{%endblock%}

    <div class="black-line"></div>

    <footer>
        <div class="footer-left">
            <p>Follow us!</p>
            <img src="static/social-media-icons.png" alt="Follow us image" width="190" height="40">
        </div>
        <div class="footer-center">
            <h2>B I R D   S C H O O L</h2>
        </div>
        <div class="footer-right">
            <p>Contact school:</p>
            <p>vladavlada09756@gmail.com</p>
            <p>+38098644457</p>
            <p>+38067876534</p>
        </div>
    </footer>

</body>
</html>

<!-- {% block t_itle %}{%endblock%} вставний блок, що матиме назву <t_itle>
 функція url_for з Flask для генерації цієї URL-адреси для іменованих маршрутів та інших ресурсів у Flask-додатку.
 У цьому випадку 'static' є маршрутом, який спеціально призначений для статичних ресурсів.
  Параметр filename='css/main.css' вказує на шлях до конкретного CSS-файлу всередині каталогу static.-->