{% extends 'base.html' %}
{% block style_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{%endblock%}

{% block main %}
    <main>
        <img src="static/friendss.png" alt="Friends" class="main-image">
        <div class="about-us">
            <h2>About us</h2>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
        </div>
        <div class="text-block">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum <br><br>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum<br><br>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum
            </p>
            <!-- Add more paragraphs as needed -->
        </div>
        <div class="links">
            <a href="#"><img src="static/joins.png" alt="Image 1"> <br>How to join you?</a>
            <a href="#"><img src="static/teachers.png" alt="Image 2"> <br>Teachers</a>
            <a href="#"><img src="static/less.png" alt="Image 3"> <br>About lessons</a>
            <a href="#"><img src="static/teach.png" alt="Image 4"> <br>More about learning</a>
            <a href="#"><img src="static/friends.png" alt="Image 5"> <br>I've got questions</a>
        </div>
    </main>
{%endblock%}