{% extends 'base.html' %}
{% block style_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{%endblock%}

{% block main %}
    <main>
        <img src="static/friendss.png" alt="Friends" class="main-image">
        <div class="main-info">
            <div class="about-us">
                <h2>About us</h2>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                    "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>
            </div>
            <div class="text-block1">
                <h2>Вчити англійську як хочеш</h2>
                <p>Ми — не просто онлайн-школа з репетиторами, а екосистема вивчення англійської:<br><br>
                    👉 навчайся хоч з ноуту, хоч зі смартфону <br><br>
                    👉 вивчай мову з perfect teacher match <br><br>
                    👉 додатково прокачуйся на спікінг-клабах, онлайн-курсах й інших активностях <br><br>
                </p>
            </div>
            <div class="text-block2">
                <h2>Усе навчання в одному місці</h2>
                <p>Заняття проходять на нашій інтерактивній платформі,
                    де зібрано усе: зв’язок з тічером та саппортом, домашні завдання й інші корисні інструменти.
                </p>
            </div>
            <div class="text-block2">
                <h2>Не просто уроки, а екосистема.</h2>
                <p>Окрім індивідуальних занять з викладачем,
                    ми даємо  різні можливості прокачати свою англійську — групові заняття,
                    корисні статті, та внесистемні заняття.
                </p>
            </div>
        </div>
        <div class="links">
            <a href="#"><img src="static/joins.png" alt="Image 1"> <br>How to join you?</a>
            <a href="/teachers"><img src="static/teachers.png" alt="Image 2"> <br>Teachers</a>
            <a href="#"><img src="static/less.png" alt="Image 3"> <br>About lessons</a>
            <a href="#"><img src="static/teach.png" alt="Image 4"> <br>More about learning</a>
            <a href="#"><img src="static/friends.png" alt="Image 5"> <br>I've got questions</a>
        </div>
    </main>
{%endblock%}