{% extends 'base.html' %}

{% block style_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
{% endblock %}

{% block main %}
    <h1>Чому саме наша школа?</h1>
    <input type="submit" id="studentButton" class="btn" value="Я учитель">

    <div class="teacher-questions" id="teacher-questions">
        <section class="faq-item">
            <h2>1. Як я можу почати працювати в вашій школі?</h2>
            <p>Щоб почати працювати, вам потрібно зареєструватися на нашій платформі, заповнити анкету та пройти співбесіду з нашим менеджером.</p>
        </section>

        <section class="faq-item2">
            <h2>2. Які вимоги до репетиторів?</h2>
            <p>Ми шукаємо кваліфікованих викладачів з досвідом роботи, які мають педагогічну освіту та володіють англійською мовою на рівні B2 і вище.</p>
        </section>

        <section class="faq-item">
            <h2>3. Як відбувається оплата за уроки?</h2>
            <p>Оплата здійснюється щомісяця, на основі кількості проведених уроків. Деталі прорахунку оплати ви можете знайти у вашому особистому кабінеті.</p>
        </section>

        <section class="faq-item2">
            <h2>4. Чи є у вас гнучкий графік роботи?</h2>
            <p>Так, ви можете самостійно формувати свій розклад занять, враховуючи наявність студентів та ваші особисті побажання.</p>
        </section>

        <section class="faq-item">
            <h2>5. Як відбувається комунікація зі студентами?</h2>
            <p>Ви будете спілкуватися зі студентами через нашу платформу, використовуючи вбудовані чати та відеозв'язок.</p>
        </section>

        <section class="faq-item2">
            <h2>6. Чи потрібно мені готувати матеріали для занять?</h2>
            <p>Наша платформа надає широкий спектр навчальних матеріалів, але ви також можете використовувати свої власні матеріали, якщо вони відповідають навчальній програмі.</p>
        </section>

         <section class="faq-item">
             <h2>7. Чи можу я працювати з студентами з різних країн?</h2>
             <p>Так, ви можете працювати зі студентами з усього світу. Наша платформа підтримує багатомовний інтерфейс та різні часові зони.</p>
         </section>

         <section class="faq-item2">
             <h2>8. Що робити, якщо у мене виникли проблеми зі студентом?</h2>
             <p>У разі виникнення проблем, звертайтеся до нашої служби підтримки, яка допоможе вирішити будь-які питання або конфліктні ситуації.</p>
         </section>

         <section class="faq-item">
             <h2>9. Як мені підвищити свою кваліфікацію?</h2>
             <p>Ми пропонуємо різноманітні курси підвищення кваліфікації, вебінари та семінари, які допоможуть вам покращити свої навички та знання.</p>
         </section>

        <section class="faq-item2">
            <h2>10. Які переваги роботи у вашій школі?</h2>
            <p>Ми надаємо гнучкий графік, конкурентну оплату праці, постійну підтримку та можливість професійного зростання.</p>
        </section>
    </div>

    <div class="student-questions" id="student-questions">
        <section class="faq-item">
            <h2>1. Які методи навчання використовуються у вашій школі?</h2>
            <p>У нашій школі ми використовуємо комунікативний метод, що фокусується на розвитку мовленнєвих навичок через практичні заняття, рольові ігри та обговорення. Ми також інтегруємо граматику, читання та письмо для забезпечення всебічного розвитку мовних навичок.</p>
        </section>

        <section class="faq-item2">
            <h2>2. Який рівень англійської потрібно мати, щоб розпочати заняття?</h2>
            <p>Ми пропонуємо курси для всіх рівнів, від початківців до просунутих. Ваш рівень буде визначений на основі тестування або співбесіди перед початком курсу, щоб підібрати відповідний клас.</p>
        </section>

        <section class="faq-item">
            <h2>3. Які кваліфікації мають ваші викладачі?</h2>
            <p>Наші викладачі мають сертифікати TESOL або CELTA, а також значний досвід викладання англійської мови як другої мови. Вони проходять регулярні тренінги та навчання для підтримання високих стандартів навчання.</p>
        </section>

        <section class="faq-item2">
            <h2>4. Скільки часу займає один курс?</h2>
            <p>Тривалість курсу варіюється в залежності від типу програми. Зазвичай курси тривають від 8 до 12 тижнів, з заняттями 2-3 рази на тиждень.</p>
        </section>

        <section class="faq-item">
            <h2>5. Які матеріали потрібні для уроків?</h2>
            <p>Для занять використовуються підручники, зошити для практики, аудіо та відео матеріали. Все необхідне буде надано в класі, але радимо мати ноутбук або планшет для додаткових ресурсів та завдань.</p>
        </section>

        <section class="faq-item2">
            <h2>6. Як відстежується прогрес учня?</h2>
            <p>Прогрес учнів відстежується через регулярні тести, домашні завдання та оцінювання участі в класі. Ми також проводимо індивідуальні консультації для обговорення досягнень та областей для покращення.</p>
        </section>

        <section class="faq-item">
            <h2>7. Чи є можливість індивідуальних занять?</h2>
            <p>Так, ми пропонуємо індивідуальні заняття або малі групи для тих, хто потребує додаткової уваги або має специфічні потреби в навчанні.</p>
        </section>

        <section class="faq-item2">
            <h2>8. Як я можу допомогти своїй дитині в навчанні англійської мови вдома?</h2>
            <p>Ви можете підтримувати свою дитину, забезпечуючи їй можливість практикувати мову вдома через читання книг, перегляд фільмів англійською та використання додаткових онлайн-ресурсів. Сприяйте регулярному спілкуванню англійською мовою в сімейному середовищі.</p>
        </section>

        <section class="faq-item">
            <h2>9. Чи є у вас програми для дорослих?</h2>
            <p>Так, ми пропонуємо курси для дорослих на різних рівнях. Ці курси орієнтовані на покращення комунікативних навичок, бізнес-англійської, а також підготовку до міжнародних іспитів.</p>
        </section>

        <section class="faq-item2">
            <h2>10. Як відбувається реєстрація на курс і яка вартість?</h2>
            <p>Реєстрація відбувається через наш веб-сайт або в адміністрації школи. Вартість курсів залежить від їх тривалості та формату. Всі ціни та графіки доступні на нашому сайті або у нас в офісі.</p>
        </section>
    </div>

<script>
    const studentbutt = document.getElementById("studentButton");
    const studentdiv = document.getElementById("student-questions");
    const teacherdiv = document.getElementById("teacher-questions");

    studentbutt.addEventListener("click", function () {

        if (studentbutt.value == "Я учитель") {
            studentbutt.value = "Я учень"
            studentdiv.hidden = true;
            teacherdiv.hidden = false;
        } else {
            studentbutt.value = "Я учитель"
            studentdiv.hidden = false;
            teacherdiv.hidden = true;
        }
    });
</script>
{% endblock %}