{% extends 'base.html' %}

{% block style_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
{%endblock%}

{% block main %}
<div class="background-image">
    <div class="background-overlay"></div> <!-- Додали оверлей для затемнення -->
        <div class="container-sign">
           <h2>Teacher Registration</h2>
           <div class="registration-form">
               {% if error %}
                   <p>{{ error }}</p>
               {% endif %}
               <form class="new_user" id="new_user" action="/register_teacher" accept-charset="UTF-8" method="post" enctype=multipart/form-data>
                  <input required type="text"  name="name" id="user_name" placeholder="Ім'я" class="input-field">
                  <input required type="text"  name="surname" id="user_surname" placeholder="Прізвище" class="input-field">
                  <input required type="text"  name="midname" id="user_midname" placeholder="По батькові" class="input-field">
                  <input required type="email" name="email" id="user_email" placeholder="Email" class="input-field" value="">
                  <input required type="tel"   name="phone" id="user_phone" placeholder="Номер телефону" class="input-field">
                  <select required name="level" id="level" class="input-field-select">
                      <option value="">Рівень знання англ. мови</option>
                      <option value="B2">B2</option>
                      <option value="C1">C1</option>
                      <option value="C2">C2</option>
                  </select>
                  <input required type="text" name="education" id="teacher_education" placeholder="Освіта" class="input-field">
                  <input required type="date" name="start_work" id="start_work" placeholder="Початок роботи" class="input-field">
                  <input type="file" name="file" id="user_file"  placeholder="Фотографія" class="input-field">
                  <div class="password-container">
                      <input required type="password" name="password" id="user_password" placeholder="Пароль" class="input-field">
                      <span id="togglePassword" class="toggle-icon">
                          <img id="eyeIcon" src="static/eye.png" alt="Show">
                      </span>
                  </div>
                  <input type="submit" name="commit" value="Register" class="btn" data-disable-with="Sign up">
                </form>
          </div>
          <p >Do you have one? <a href="/log_in">Log in</a></p>
        </div>
    </div>
</div>

<script>
    const passwordField = document.getElementById("user_password");
    const togglePassword = document.getElementById("togglePassword");
    const eyeIcon = document.getElementById("eyeIcon");

    togglePassword.addEventListener("click", function () {
        const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
        passwordField.setAttribute("type", type);

        if (type === "text") {
            eyeIcon.src = "static/eye.png"; // Іконка для приховування пароля
            eyeIcon.alt = "Hide";
        } else {
            eyeIcon.src = "static/closed-eye.png"; // Іконка для перегляду пароля
            eyeIcon.alt = "Show";
        }
    });
</script>

{%endblock%}

